{% extends "base.html" %}
{% block content %}
<h2>Find accommodations</h2>
<form action="/results" method="post" class="form">
  <label>Neighbourhood:</label>
  <select name="neighbourhood">
    {% for n in neighbourhoods %}
      <option value="{{ n }}">{{ n }}</option>
    {% endfor %}
  </select>

  <label>Room type:</label>
  <select name="room_type">
    {% for r in room_types %}
      <option value="{{ r }}">{{ r }}</option>
    {% endfor %}
  </select>

  <label>Minimum rating:</label>
  <input type="number" name="min_rating" value="80" min="0" max="100">

  <label>Minimum number of reviews:</label>
  <input type="number" name="min_reviews" value="10">

  <label>Maximum price (£):</label>
  <input type="number" name="max_price" value="150">

  <label>(This will be fixed!) (latitude):</label>
  <input type="number" step="0.0001" name="latitude" value="51.5072">

  <label>(This will be fixed!) (longitude):</label>
  <input type="number" step="0.0001" name="longitude" value="-0.1276">

  <button type="submit">Find accommodations</button>
</form>
{% endblock %}
